<!DOCTYPE html>

<html>

<head>
	<title>Cars! | 1993</title>
	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		li {
			display: inline;
		}
	</style>
</head>

<body>
	<h1>Hey Come Check Out All the Best Cars From 1993!</h1>
	<ul>
		<li><a href="/ford">Fords</a></li>
		<li><a href="/mazda">Mazdas</a></li>
		<li><a href="/sporty">Sport Cars</a></li>
		<li><a href="/luxury">Luxury Cars</a></li>
		<li><a href="/fuel_efficient">Fuel Efficient Cars</a></li>
		<li><a href="/domestic">Domestic Cars</a></li>
		<li><a href="/foreign">Foreign Cars</a></li>
	</ul>

	<footer>
		<a href="/shutdown">Say Goodbye</a>
	</footer>
</body>
	
</html>