<h1>All Posts</h1>

<table>
	<% @posts.each do |post| %>
		<tr>
			<th>Title</th>
			<th>Edit</th>
			<th>Delete Post</th>
		</tr>
		<tr>
			<td><%= link_to post.title, post %></td>
			<td><%= link_to "Edit Post", edit_post_path(post) %></td>
			<td><%= link_to "Delete Post", post_path(post),
										   method: :delete,
										   data: { confirm: "Are You Sure You Want To Delete This Post?" } %></td>
		</tr>
	<% end %>		
</table>
<br>
<br>
<br>
<%= link_to "New Post", new_post_path %>