<!DOCTYPE html>

<html>

<head>
	<title>Cars! | 1993</title>
	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		li {
			display: inline;
		}
	</style>
</head>



<body>
	<h1>Hey Come Check Out All the Best Cars From 1993!</h1>
	<ul>
		<li><a href="/sporty">Sports Cars</a></li>
		<li><a href="/compact">Compact Cars</a></li>
		<li><a href="/large">Large Cars</a></li>
		<li><a href="/mazda">Mazdas</a></li>
		<li><a href="/pontiac">Pontiacs</a></li>
		<li><a href="/luxury">Luxury</a></li>
	</ul>
	<table>
		<tr>
			<th>Make</th>
			<th>Model</th>
			<th>Style</th>
			<th>Price</th>
		</tr>
		<% @cars.each do |car| %>
			<tr>
				<td><%= car.manufacturer %></td>
				<td><%= car.model %></td>
				<td><%= car.type %></td>
				<td><%= car.price %></td>
			</tr>
		<% end %>
	<footer>
		<p><a href="/shutdown">Say Goodbye</a></p>
	</footer>
</body>
	
</html>