<!DOCTYPE html>
<html>
<head>
  <title>The Iron Yelp | <%= @restaurant %></title>
</head>
<body>
  <h1><%= @restaurant %></h1>
  
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
    </tr>
      
    <tr>
      <td><%= r.name %></a></td>
      <td><%= r.address %></td>
    </tr>

  </table>
  <p><a href="shutdown">Shutdown</a></p>
</body>
</html>